<% include partials/header %>

<h1>Welcome to YelpCamp landing page!</h1>

<p><a href="/campgrounds">Visit Campgrouds</a></p>

<p><a href="/campgrounds/new">Add a new Campground</a></p>

<% include partials/footer %>